.dApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dApp > .status {
  color: #223322;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  animation-name: disappearing-text;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes disappearing-text {
  0% {color: #ffffff;}
  50% {color: #777777;}
  100% {color: #223322;}
}
